@import "tailwindcss";

@theme {
  --color-dark-bg: #0f1115;
  --color-dark-surface: #1a1c20;
  --color-primary-text: #ffffff;
  --color-secondary-text: #b0b3b8;
  --color-primary-btn: #2563eb;
  --color-primary-btn-hover: #1d4ed8;
  --color-border-muted: #2f3136;
}
